web/WEB-INF/schema/news.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="title" type="listNews"/>
    <xsd:complexType name="listNews">
        <xsd:sequence>
            <xsd:element name="category" type="xsd:string"/>
            <xsd:element name="article" type="article"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="article">
        <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="link" type="xsd:string"/>
            <xsd:element name="publishDate" type="xsd:date"/>
            <xsd:element name="imgLink" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>